@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

textarea:focus,
input:focus {
    outline: none;
}

body {
    background-color: #0D1D2C;
}

.icon {
    position: absolute;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-leaderboard {
    top: 30px;
    right: 30px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.50);
    transition: color .5s;
}

.icon-leaderboard:hover {
    color: #FFFFFF;
}

.app-title {
    margin-top: 60px;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 96px;
}

.username-container {
    position: relative;
}

.icon-username {
    font-size: 50px;
    top: 72px;
    left: 30px;
    color: rgba(0, 0, 0, 0.60);
}

.field-username {
    font-size: 40px;
    width: 400px;
    height: 75px;
    border-radius: 30px;
    margin-top: 60px;
    border: none;
    padding-left: 90px;
}

.btn-start {
    cursor: pointer;
    width: 136px;
    height: 75px;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 36px;
    transition: background-color .5s;
}

.btn-start:hover {
    transition: .5s;
    background-color: #D6AA09;
    color: #FFFFFF;
}

.description {
    font-size: 72px;
    color: #FFFFFF;
}